* {
    margin: 0;
    padding: 0;
    }
  body {
    overflow-x: hidden;
  }
  header {
    position: fixed;
    width: 100%;
    height: 90px;
    background: #000000;
  }
  #nav{
    position: absolute;
    height: 100vh;
    width: 40%;
    left: -40%;
    top: 0;
    background: #ffffff;
    transition: .3s;
  }
  #nav ul{
    padding-top: 80px;
  }
  #nav ul li{
    list-style-type: none;
    font-size: 20px;
  }
  #nav a{
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 0 15px;
    padding: 10px;
    transition: .5s;
  }
  #nav li a:hover{
    color: black;
    background: #ececec;
    border-bottom: none;
    border-radius: 5px;
  }
  #hamburger {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50px;
    height: 44px;
    cursor: pointer;
    transition: 1s;
  }
  .inner_line {
    display: block;
    position: absolute;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    transition: 1s;
    border-radius: 4px;
  }
  #line1 {
    top: 0;
  }
  #line2 {
    top: 20px;
  }
  #line3 {
    bottom: 0px;
  }

  #logo {
    font-family: '911 Porscha', sans-serif;
    font-weight: 400;
  }

  #logo-img {
    height: 60px;
    width: auto;
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 10px;
  }

  h1, h2 {
    text-align: center;
    line-height: 90px;
    color: #ffffff;
  }
  h2 {
    display: none;
  }
  p {
    padding-top: 200px;
    text-align: center;
  }
  .in{
    transform: translateX(100%);
  }
  .line_1,.line_2,.line_3{
    background: #000000;
  }
  .line_1 {
    transform: translateY(20px) rotate(-45deg);
    top: 0;
  }
  .line_2 {
    opacity: 0;
  }
  .line_3 {
    transform: translateY(-20px) rotate(45deg);
    bottom: 0;
  }
  
  @media screen and (max-width: 480px) {
    #nav ul li {
      font-size: 20px;
    }
    h1 {
      display: none;
    }


    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logo-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }
