* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    width: 100%;
    max-width: 100vw;
    height: 80vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list figure {
    position: relative;
}
.slider .list img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .list figcaption {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.slider .list .caption1 {
    top: 50%;
    left: 50%;
}

.slider .list .caption2 {
    bottom: 8px;
    left: 16px;  
}

.slider .list .caption3 {
    top: 8px;
    left: 16px;
}

.slider .list .caption4 {
    bottom: 8px;
    right: 16px;
}

.slider .list .caption5 {
    top: 15%;
    right: 10%;
}

.slider .buttons{
    position: absolute;
    top: 45%;
    width: 95%;
    left: 2.5%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    font-family: 'Porsche Next', sans-serif;
    font-weight: bold;
}

.slider .buttons button:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}


.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    background-color: red;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
